body {
    background-color: #f3f5f7;
}

header {
    width: 1300px;
    height: 100px;
    /*background-color: pink;*/
    margin: 0 auto;
}

header {
    padding-top: 30px;
}

header .logo {
    width: 195px;
    height: 43px;
    display: inline-block;
    float: left;
}

header .logo a {
    background-image: url(../images/logo.png);
    width: 195px;
    height: 43px;
    display: inline-block;
    text-indent: -990px;
    overflow: hidden;
}

header nav {
    display: inline-block;
    margin-left: 50px;
    float: left;
}

header nav ul li {
    float: left;
    margin-right: 40px;
    font-size: 18px;
    color: #050505;
    /*border: 1px solid red;*/
}

nav li a {
    height: 42px;
    display: inline-block;
    line-height: 40px;
    padding: 0 10px;
}

header nav ul li a:hover {
    /*color: #00a4ff;*/
    color: #050505;
    border-bottom: 2px solid #00a4ff;
}

/*search*/
.search {
    /*position: absolute;*/
    margin-left: 50px;
    float: left;
}

header .search input {
    width: 330px;
    height: 40px;
    outline: 0;
    border: 1px solid #00a4ff;
    padding: 10px;
}

header .search button {
    width: 50px;
    height: 40px;
    /*background-color: #00a4ff;*/
    border: 0;
    outline: none;
    float: right;
    background: url(../images/fa-search.png) no-repeat;
}

/*personal*/
.personal {
    float: right;
}

.personal dl dt, .personal dl dd {
    height: 40px;
    line-height: 40px;
    float: left;
    margin: 0 12px;
    size: 14px;
}

.personal dl dd img {
    border-radius: 50%;
    margin-right: 5px;
    transition: all 0.6s;
    /*position: relative;*/
}

.personal dd .zhuan:hover {
    transform: rotate(-360deg);
}

/*banner*/
.banner {
    height: 420px;
    background-color: #1c036c;
}

.banner .inner {
    position: relative;
}

.banner .subnav {
    position: absolute;
    left: 0;
    top: 0;
    width: 190px;
    height: 420px;
}

.banner .subnav ul {
    background: rgba(0, 0, 0, 0.3);
    width: 190px;
    height: 420px;
    padding-top: 13px;
}

.banner .subnav li {
    height: 40px;
    padding: 15px;
    padding-left: 20px;
}

.banner .subnav li a {
    font-size: 14px;
    color: #fff;
}

.banner .subnav li span {
    float: right;
    padding-right: 5px;
}

.banner .subnav a:hover {
    color: #02a4ec;
}

/*circle*/
.circle {
    width: 180px;
    height: 20px;
    /*background-color: red;*/
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -90px;
}

.circle i {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.6);
    margin: 0 7px;
    cursor: pointer;
}

.circle .current {
    /*width: 20px;*/
}

.circle i:hover {
    width: 20px;
    background-color: #fff;
    transition: width 0.6s ease 0s, height 0.3s ease-in 1s;
    /*增加过渡*/
}

/*课表*/
.timebook {
    width: 228px;
    height: 300px;
    position: absolute;
    right: 0;
    top: 200px;
    /* transform: translate(0, -50%); */
    transform: translateY(-50%);
    /* 但是y 要大写才可以 */
    background-color: #fff;
}

.timebook dt {
    height: 50px;
    background-color: #9bceea;
    font-weight: 700;
    color: #fff;
    line-height: 50px;
    font-size: 18px;
    text-align: center;
}

.timebook dd {
    padding: 15px 20px 0;
}

.timebook dd li {
    height: 60px;
    border-bottom: 1px solid #ccc;
    /* background-color: pink; */
    padding-top: 6px;
}

.timebook dd li:hover {
    color: #22b0ff;
    cursor: pointer;
}

.timebook dd li:last-child {
    border: 0;
}

.timebook h5 {
    font-size: 16px;
    font-weight: normal;
}

.all {
    height: 40px;
    border: 1px solid #22b0ff;
    color: #22b0ff;
    display: block;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
}

.all:hover {
    background-color: #22b0ff;
    color: #fff;
}

/*精品推荐*/
.recommend {
    margin-top: 10px;
    background-color: white;
    height: 60px;
    line-height: 60px;
    position: relative;
    box-shadow: 0 1px 12px rgba(0, 0, 0, .4);
    overflow: hidden;
}

.recommend .rec-l {
    float: left;
    padding-left: 30px;
    font-size: 14px;

}

.recommend em {
    float: right;
    margin-right: 40px;
}

.rec-l a {
    margin: 0 15px;
}

.rec-l strong {
    color: #22b0ff;
    font-weight: 700;
    margin-right: 15px;
    /*font-size: 16px;*/
}

/*产品*/
.products {
    margin-top: 30px;
    /*overflow: hidden;*/
}

.products .pro-hd {
    height: 40px;

}

.products .pro-hd h4 {
    float: left;
    font-size: 20px;
    font-weight: normal;
}

.products .pro-hd a {
    float: right;
    margin-right: 35px;
}

.pro-bd {
    overflow: hidden;
}

.pro-bd li {
    width: 228px;
    height: 270px;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    background-color: #FFFFFF;
    transition: all 0.3s;
    overflow: hidden;
}

.pro-bd li:hover {
    transform: translate(0, -10px);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .3);
}

.pro-bd li:nth-child(5n) {
    margin-right: 0;
}

.pro-title {
    font-size: 14px;
    color: black;
    margin-top: 12px;
    margin-left: 7px;
    margin-right: 7px;
}

.pro-bd li p {
    margin-top: 26px;
    margin-left: 16px;
    color: #999;
}

.pro-bd li p span {
    color: #ff7c2d;
}

/*footer*/
footer {
    /*height: 200px;*/
    /*width: 100%;*/
    margin-top: 40px;
    background-color: white;
    padding-top: 30px;

}

footer .w {
    height: 200px;
}

.footer-l {
    float: left;
    padding-left: 30px;
}

.footer-l img {
    /*padding-bottom: 25px;*/
}

.footer-l p {
    margin: 25px 0 15px 0;
}

.footer-l a {
    width: 120px;
    height: 35px;
    display: block;
    border: 1px solid #22b0ff;
    font-size: 13px;
    text-align: center;
    line-height: 35px;
    color: #22b0ff;
}

.footer-r {
    float: right;
}

.footer-r dl {
    float: left;
    margin-left: 120px;
}

.footer-r dt {
    font-size: 16px;
    padding-bottom: 30px;
}

.footer-r dd {
    font-size: 13px;
}











